<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>컴퓨터나라</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script defer src="../static/js/index.js"></script>
  </head>
  <body>
    <header>
      <div class="header_top">
        <h1 class="title"><a href="#">컴퓨터나라</a></h1>
        <input class="search" placeholder="검색창" />
      </div>
      <nav class="nav_bar">
        <ul class="nav_list">
          <li class="nav_item category">
            카테고리
            <ul class="category_list">
              {%for item in category%}
              <li class="category_item">{{item["CategoryName"]}}</li>
              {%endfor%}
            </ul>
          </li>
          <li class="nav_item">벤치마크</li>
          <li class="nav_item">호환성테스트</li>
          <li class="nav_item">중고최저가</li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="slider_container">
        <div class="slider_wrapper">
          <div class="slide_image">
            <img
              src="../static/images/slide_image1.webp"
              width="1280px"
              alt="slide images"
            />
            <img
              src="../static/images/slide_image2.webp"
              width="1280px"
              alt="slide images"
            />
            <img
              src="../static/images/slide_image3.webp"
              width="1280px"
              alt="slide images"
            />
          </div>
        </div>
        <div class="slider_pagination">
          <span class="slider_dot"></span>
          <span class="slider_dot"></span>
          <span class="slider_dot"></span>
        </div>
        <div class="slider_button">
          <button type="button" class="left_arrow">&lt;</button>
          <button type="button" class="right_arrow">&gt;</button>
        </div>
      </div>
      <section>
        <article class="item_list_container">
          <h3>요즘 뜨는 CPU</h3>
          <div class="item_list">
            <div class="item">
              <img src="../static/images/13900k.webp" alt="i9 13900k" />
              <p class="item_description">Intel i9 13900k</p>
            </div>
            <div class="item">
              <img src="../static/images/12900k.webp" alt="i9 12900k" />
              <p class="item_description">Intel i9 12900k</p>
            </div>
            <div class="item">
              <img src="../static/images/7900x.webp" alt="ryzen 7900x" />
              <p class="item_description">AMD Ryzen 7900x</p>
            </div>
            <div class="item">
              <img src="../static/images/7700x.webp" alt="ryzen 7700x" />
              <p class="item_description">AMD Ryzen 7900x</p>
            </div>
          </div>
        </article>
        <article class="item_list_container">
          <h3>요즘 뜨는 VGA</h3>
          <div class="item_list">
            <div class="item">
              <img
                src="../static/images/rtx4070.webp"
                alt="NVIDIA GeForce RTX4070"
              />
              <p class="item_description">NVIDIA GeForce RTX4070</p>
            </div>
            <div class="item">
              <img
                src="../static/images/rtx4080.webp"
                alt="NVIDIA GeForce RTX4080"
              />
              <p class="item_description">NVIDIA GeForce RTX4080</p>
            </div>
            <div class="item">
              <img
                src="../static/images/rx7900.webp"
                alt="AMD Radeon rx7900xt"
              />
              <p class="item_description">AMD Radeon rx7900xt</p>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div>
        <h4>컴퓨터나라</h4>
      </div>
      <div>
        <h4>Informaton</h4>
        <ul>
          <li>개인정보처리방침</li>
          <li>이용약관</li>
          <li>게시글 개인정보 수집 및 이용 안내</li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul>
          <li>000-000-0000</li>
          <li>000@email.com</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
